.news{
    background-image: linear-gradient(to right bottom, var(--color-grey-light-2), var(--color-grey-light-5));
    padding: 4rem 0;
    margin-bottom: 30rem;
    &__h{
        margin: 0 0 2rem 0;
        line-height: 1;
        font-weight: 400;
    }

    &__p{
        text-align: justify;
        line-height: 2;
    }
    &__section{
        display: flex;
        padding: 4rem;
        //border-bottom: 1px solid var(--color-grey-dark-5);
        &--right{
            justify-content: flex-end;
        }
    }

    &__item{
        flex: 0 0 45%;
        margin-right: auto;
    }


    &__photo{
        flex: 0 0 45%;
        border-radius: .3rem;
        box-shadow: 0 2rem 4rem rgba(black, .1);
        position: relative;

        &__span{
            font-size: 1.3rem;
            display: block;
            transform:rotate(90deg);
            transform-origin: 100% 0;
            position: absolute;
            top: 100%;
            right: -2.5rem;
        }
    }
}